* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

a:link {
    text-decoration: none;
}

/* ------ SECTION 1 STARTS ------ */

#one {
    background-color: #1F2937;
}

#header {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.top, .bottom {
    display: flex;
}

/* The header part */
.top {
    justify-content: space-between;
    margin-top: 15px;
}

.top div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top a {
    padding-left: 10px;
}

.top p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* The main part */
.bottom {
    margin-bottom: 100px;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom img {
    height: auto;
    width: 500px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
}

.bottom div h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.bottom div p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.cta {
    background-color: #3882F6;
    display: inline-block;
    padding: 8px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

.cta a {
    font-weight: bold;
}

/* ------ SECTION 1 ENDS ------ */

/* ------ SECTION 2 STARTS ------ */

.square {
    border: solid 3px #3882F6;
    width: 170px;
    height: 170px;
    border-radius: 10%;
}

.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    gap: 10px;
}

.square-container p {
    color: #535353;
    text-align: justify;
    text-align-last: center;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px;
    margin-bottom: 100px;
}

.main-container h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* ------ SECTION 2 ENDS ------ */

/* ------ SECTION 3 STARTS ------ */

#three div {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 540px;
    padding-right: 540px;
    padding-top: 150px;
    padding-bottom: 150px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    align-self: flex-start;
}

#author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    color: black;
}

/* ------ SECTION 3 ENDS ------ */

/* ------ SECTION 4 STARTS ------ */

#four .main-container {
    background-color: #3882F6;
    border-radius: 7px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
}

#four .second-container {
    display: flex;
    flex-direction: column;
    gap: 0; 
}

#four .second-container h1, p {
    color: #F9FAF8;
}

#four .second-container h1 {
    font-size: 24px;
    font-weight: bold;
}

#four .cta {
    border: white 2px solid;
}

/* ------ SECTION 4 ENDS ------ */

/* ------ SECTION 5 STARTS ------ */

#five div {
    background-color: #1F2937;
    padding: 40px;
}

#five div p {
    text-align: center;
}